<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<div  ng-include="'components/navbar/navbar.html'"></div>

<!---Left Panel --->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Todo</a></li>
        <li role="presentation"><a href="#">Hoy</a></li>
        <li role="presentation"><a href="#">Semana</a></li>
      </ul>

      <!---Categories-->
      <!-- Implementar Angular here -->
      <div class="categories">
        <h3>Categorías</h3>
        <div  ng-repeat="tag in categories">
          <a href="#" class="list-group-item" >
            <span class="badge">{{tag.count}}</span> {{tag.name}}
          </a>
        </div>
      </div>
    </div>

    <!--- Right Panel -->
    <div class="col-md-10">
      <h1> Personal </h1>

      <ul class="nav nav-pills ">
        <li role="presentation" class="active"><a href="#">Todos</a></li>
        <li role="presentation" ><a href="#">Pendiente</a></li>
        <li role="presentation" ><a href="#">Completados</a></li>
      </ul>

        <!--  Container de Tarea -->
        <div  class="tasks">
          <div ng-repeat= "task in awesomeThings">
            <li class="task">
              <a class="checker" ng-click="check(task)" href=""><i id="{{task._id}}" ng-class="{'fa fa-check-square': task.completed, 'fa fa-square-o':!task.completed}"></i></a>
              <span ng-class= "{'task-completed': task.completed}">{{task.name}}</span>
              <a href="" ng-click="deleteThing(task)"><i class="fa fa-times"></i></a>
              <a href="" ng-if="task.info" data-toggle="collapse" data-target="#td{{task._id}}" ><i id="i-{{task._id}}" class="fa fa-chevron-down" ng-click="changeChevron('i-'+task._id)"></i></a>
              <div id="td{{task._id}}" class="task-desc-container collapse"> {{task.info}} <br> {{task}} </div>
            </li>
          </div>
        </div>

        <!-- Form para crear tarea -->
        <div class="task-form" >
          <form id="formTask" class="task-form collapse">
            <p>
              <input  class="form-control" type="text"  placeholder="Nombre de la tarea" ng-model="newThing.name">
            </p>
            <p id="taskDescription" class="collapse">
              <input class="form-control" type="text"  placeholder="Descripción" ng-model="newThing.info">
            </p>
            <p id="taskTag" >
              <input class="form-control" type="text"  placeholder="Tag" ng-model="newThing.tag">
            </p>
            <div>
              <button type="submit" class="btn btn-primary" ng-click="addThing()">Agregar</button>
              <button class="btn btn-default" data-toggle="collapse" data-target="#formTask">Cerrar</button>
              <a><i class="fa fa-tag"></i></a>
              <a><i class="fa fa-calendar-plus-o"></i></a>
              <a href="" data-toggle="collapse" data-target="#taskDescription"><i class="fa fa-sticky-note-o" ></i></a>
            </div>
          </form>
          <a href data-toggle="collapse" data-target="#formTask"><b>+</b> Agregar tarea</a>
        </div>

      </div>
    </div >
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>César Robles |
        <a href="#">@ChechareTRs</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
