//Importando iconos de Awesome Font

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}


.navbar-text {
  margin-left: 15px;
}

//-------------------------- My Styles ----------------------------------------

$primary-purple: rgb(142, 36, 170);
$focus-purple:  rgb(186, 42, 222);
$primary-font-color: #F5F5F5;
$hover-list: #EEE;

.btn-primary{
  background-color: $primary-purple;
  border-color: #8E49AA;

}

.btn-primary:hover, .btn-primary:focus{
  background-color: $focus-purple;
}

.banner{
  position: relative;
  padding: 10px 15px;
  color:$primary-font-color;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $primary-purple;

  h1{
      margin: 0px;
  }

  img{
    align-content: center;
    margin: 0px;
    height: 36px;
    width: 36px;
  }
}

.navbar-default .navbar-text{
  color: $primary-font-color;
}

.navbar{
  position: relative;
  color: $primary-font-color;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $primary-purple;

  .navbar-brand{
    color: $primary-font-color;
  }

  .navbar-right li a{
    color: $primary-font-color;
  }

  .navbar-nav li a{
      color: $primary-font-color;
  }

  img{
    margin: 7px 10px;
    height: 36px;
    width: 36px;
  }
}

.nav-pills{
  li{
    a{
      color: $primary-purple;
    }
  }
  li.active{
    a{
      background-color: $primary-purple;
    }
    a:hover, a:focus{
      background-color:$focus-purple;
    }
  }
}

.nav-tabs{
  li{
    a{
      color: $primary-purple;
    }
  }
}

.categories{
  h3{
    color: $primary-purple;
  }
  .nav-pills{
    li{
      a{
        color: black;
      }
    }
  }

  .nav {
    li{
      a{
        padding-left: 0px;
      }
    }
  }

  .list-group-item{
    padding: 5px 5px;
    border: none;
    border-radius: 4px
  }

  .list-group-item:hover{
    background-color: $hover-list;
    span{
      background-color: #999;
    }
    i{
      visibility: visible;
    }
  }

  .list-group-item.active:hover, .list-group-item.active:focus{
    background-color:$focus-purple;
  }

  .active{
    background-color: $primary-purple;

    span.badge{
      color: $primary-purple;
    }
  }

  li{
    color: $primary-purple;

    a.tag-options {
      float: right;
      margin: 0px 0px;
      padding: 0;
      i{
        visibility: hidden;
      }
    }

    a.tag-content{
      margin: 0px 45px 0px 0px;
      padding: 0px 0px;
    }
  }

  input{
    margin: 10px 0px;
    height: 30px;
  }

  #tag-options{
    visibility: collapse;
    width: 100px;
    height: 50px;
  }

  span{
    margin-right: 10px;
    margin-top: 1px;
  }

  a{
    margin-top: 10px;
    color: $primary-purple;
  }

  .dropdown-menu{
    left: 150px;
    a{
      margin: 3px 15px;
    }
  }

    .btn{
      padding: 4px 5px;
      margin-top: 10px;
    }


}

.task-form{
  margin: 20px 0px;
  padding-left: 40px;
  width: 80%;
  a{
    color: $primary-purple;
  }

  button.btn{
    padding: 3px 6px;

  }

  .fa{
    float: right;
    margin-right: 10px;
    font-size: 1.5em;
  }

  #taskDescription{
    input{
      height: 80px;
    }
  }
}

.tasks{
  margin-top: 20px;
  div{
    a{
      color: #999;
      position: relative;
      float: right;
      vertical-align: middle;
      margin-left: 20px;
    }

    .checker{
      color: #999;
      vertical-align: middle;
      position: relative;
      margin-top: -3px;
      float: left;
      margin-right: 20px;
      font-size: 1.5em;
    }

    .label{
      float: right;
      vertical-align: middle;
      margin-left: 20px;
      min-width: 40px;
      max-width: 100px;
      padding-right: 50px ;
      width: 10px;
      height: 15px;
      text-align: right;
    }
  }
}

.task{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #FFF;
  word-break: break-all;
  border-bottom: 1px solid #DDD;
  span{
    padding-right: 70px;
  }
}

.task:last-child {
  margin-bottom: 0px;
}

.task-completed{
    text-decoration: line-through;
    color: #777;
}

.task-desc-container{
  padding: 10px 25px 10px 55px;
}
