<div  ng-include="'components/navbar/navbar.html'"></div>

<!---Left Panel --->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Todo</a></li>
        <li role="presentation"><a href="#">Hoy</a></li>
        <li role="presentation"><a href="#">Semana</a></li>
      </ul>
      <!---Categories-->
      <!-- Implementar Angular here -->
      <div class="categories">
        <h3>Categorías</h3>
        <a href="#" class="list-group-item">
          <span class="badge">0</span> Personal
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">0</span>Compras
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">0</span>Trabajo
        </a>
      </div>
    </div>
    <!--- Right Panel -->
    <div class="col-md-10">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Todos</a></li>
        <li role="presentation" ><a href="#">Pendiente</a></li>
        <li role="presentation" ><a href="#">Completados</a></li>
      </ul>
      <!--Check This for list implemetation -->

        <form class="thing-form">
          <label>Syncs in realtime across clients</label>
          <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
            </span>
          </p>
        </form>
      </div>
    </div >
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
